---
import Form from "./Form.astro"
const formTitle="Was it a thunderfull event? 🎉 wSmite us with your feedback.⚡"
---
<div class="form-container">
    <div class="form-title">{formTitle}</div>
    <Form/>
</div>